In [56]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("venky73/spam-mails-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\shant\.cache\kagglehub\datasets\venky73\spam-mails-dataset\versions\1

In [57]:
#pip install kagglehub

In [58]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("venky73/spam-mails-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\shant\.cache\kagglehub\datasets\venky73\spam-mails-dataset\versions\1

In [59]:
import pandas as pd

In [60]:
%ls C:\Users\shant\.cache\kagglehub\datasets\venky73\spam-mails-dataset\versions\1

 Volume in drive C has no label.
 Volume Serial Number is 3E2E-7266

 Directory of C:\Users\shant\.cache\kagglehub\datasets\venky73\spam-mails-dataset\versions\1

20-08-2025  16:34    <DIR>          .
20-08-2025  16:34    <DIR>          ..
20-08-2025  16:34         5,502,589 spam_ham_dataset.csv
               1 File(s)      5,502,589 bytes
               2 Dir(s)  380,552,802,304 bytes free

In [61]:
df = pd.read_csv(r'C:\Users\shant\.cache\kagglehub\datasets\venky73\spam-mails-dataset\versions\1\spam_ham_dataset.csv')

In [62]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [63]:
df['text'][0]

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [64]:
df['label'].value_counts()

label
ham     3672
spam    1499
Name: count, dtype: int64

In [65]:
df = df[['text','label_num']]

In [66]:
df.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\r\nthis deal is t...          0

In [67]:
df['text'][0]

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [68]:
# df['text'] = df['text'].str.lower()
# df.head()

In [69]:
import re

In [70]:
# def cl(text):
#     t = re.sub('[^a-z0-9]',' ',text)
#     return t
# df['text'] = df['text'].apply(cl)
# df.head()

In [71]:
df['text'][0]

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [72]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
nltk.download('stopwords')
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import seaborn as sns

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shant\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [73]:
stemmer = PorterStemmer()
stop_words = set(stopwords.words('english'))

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    words = text.split()
    filtered_words = [stemmer.stem(word) for word in words if word not in stop_words and len(word) > 2]
    processed_text = ' '.join(filtered_words)
    
    return processed_text

df['cleaned_text'] = df['text'].apply(preprocess_text)

In [74]:
tfidf_vectorizer = TfidfVectorizer(max_features=5000, ngram_range=(1, 2))
x = tfidf_vectorizer.fit_transform(df['cleaned_text']).toarray()
y = df['label_num']

In [75]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

In [76]:
nb_model = MultinomialNB()
nb_model.fit(x_train, y_train)
pred = nb_model.predict(x_test)

In [77]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.98      0.93      0.95       735
           1       0.84      0.96      0.90       300

    accuracy                           0.94      1035
   macro avg       0.91      0.94      0.93      1035
weighted avg       0.94      0.94      0.94      1035